@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;
    }

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
    }

@font-face {
    font-family: "PT Sans";
    font-style: italic;
    font-weight: 400;
    src: url("../fonts/ptsans-400.woff2") format("woff2");
    }

@font-face {
    font-family: "PT Sans";
    font-style: italic;
    font-weight: 700;
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
    }

html {
        height: 100%;
}

.list-reset {
    padding: 0%;
    margin: 0%;
    list-style: none;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    clip: rect(0 0 0 0)
}

a {
    color:black;
    text-decoration: none;
}

.button {
    font-family: PT Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase; 
    }

.signin-button {
    font-family: PT Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
    color: white;
    background-color: #756157;
    min-width: 160px;
    min-height: 37px;;
    }

.container {
    display: flex;
    flex-direction: column;
    width: 1200px;
    margin: 0 auto;
    outline: 5px solid red;
    outline-offset: -5px;

}

.navigation {
    display: flex;
    width: 1200px;
    margin: 0 auto;
    
}

.navigation-list {
    font-family: PT Sans;
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 26px;
width: 415px;
margin-right: auto;
}

.logo {
    display: block;
    margin: 0 auto;
}

.navigation-user {
    max-width: 300px;
    margin-left: auto;
}

.navigation-link {
    font-family: PT Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 26px;
    }

.navigation-link-current {
    text-decoration: underline;
}

body {
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    line-height: 24px;
    padding: 0%;
    margin: 0%;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    }

.main-container {
        flex-grow: 1;
    }

.page-container {
    display: flex;
    flex-direction: column;
}


.advantages-background {
    background-image: url("../images/background-advantage.jpg");
    background-position: top;
    background-size: 1200px 485px;
    background-repeat: no-repeat;
    background-color: white;
    min-height: 767px;
    display: flex;
    flex-direction: column;
    margin-top: 0 auto;
    }

.advantages-background-title {
    display: flex;
    flex-direction: column;
    margin-top: auto;
    text-align: center;
    min-height: 282px;
}

.advantages-container {
    display: flex;
    flex-wrap: wrap;
    padding: 0 0;

}

.advantages-content p {
    font-family: PT Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 36px;
    text-align: center;
    }

.advantages-content h2 {
    font-family: PT Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
}

.advantages-item {
    width: 400px;
    height: 384px;
    text-align:center;
    list-style: none;
    padding: 0%;
    margin: 0%;
    
}

.advantage-item-blue {
    background-color: #82B3D3; 
}

.advantage-item-light-blue {
    background-color: #E6F0F6;

}

.advantage-item-light-light-blue {
    background-color: #F0F6FA;
}
.advantages-item-white {
    background-color: #FFFFFF;
}


h3 {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    padding: 0%;
    margin: 0%;
}

p {
    font-family: PT Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
}
.hotels-search-container {
    display: flex;
    width: 575px;
    margin: 0 auto;

}

.hotels-search {
    background-color: #FFFFFF;
    width: 1200px;
    height: 417px;

}

.hotels-search p {
    font-size: 22px;
    line-height: 26px;

}

.hotels-search h2 {
    font-size: 30px;
    line-height: 36px;
}

.button-hotels-search {
    color: white;
    background-color: #756157;
    width: 1200px;
    height: 417px;
}

.subscription-container {
    display: flex;
    width: 800px;
    margin: 0 auto;

}

.subscription {
    background-image: url("../images/subscription-background.jpg");
    width: 1200px;
    height: 411px;
}
.newsletter-button {
    color: white;
    background-color: #83B3D3;
}

.button-twitter{
    background-image: url("../images/twitter.svg");
    background-repeat: no-repeat;
    min-width: 18px;
    min-height: 15px;
}
.button-facebook{
    background-image: url("../images/facebook.svg");
    background-repeat: no-repeat;
    min-width: 10px;
    min-height: 18px;
}
.button-youtube{
    background-image: url("../images/youtube.svg");
    background-repeat: no-repeat;
    min-width: 20px;
    min-height: 16 px;
}

.phone {
    font-family: PT Sans;
font-style: normal;
font-weight: normal;
font-size: 40px;
line-height: 40px;
text-align: center;
text-transform: uppercase;
} 

.logo-html {
    background-image: url("../images/logo-htmlacademy.svg");
    min-width: 319px;
    min-height: 110px;
    background-repeat: no-repeat;
}

/* Catalog */
.catalog-products {
    background-image: url("../images/catalog-background.jpg");
    background-repeat: no-repeat;
    min-width: 1200px;
    min-height: 411px;
}
h1 {
    color: white;
    font-family: PT Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 78px;
}
section h2 {
    font-family: PT Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 39px;
}

.home-icon {
    background-image:url("../images/home-icon.svg");
    background-repeat:no-repeat;
    min-width: 12px;
    min-height: 12px;
}
a.breadcrumps-link {
    color:white;
    font-family: PT Sans;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 21px;
}
.catalog-filter-title {
    color:white;
    font-family: PT Sans;
    font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 26px;
}
.button-accept { 
    color:white;
    background-color:#83B3D3;
}

.masonry {
    background-image:url("../images/masonry.svg");
    min-width: 48px;
    min-height: 48px;
    background-repeat: no-repeat;
}
.card {
    background-image: url("../images/card.svg");
    min-width: 48px;
    min-height: 48px;
    background-repeat: no-repeat;
}
.card-list {
    background-image:url("../images/card-list.svg");
    min-width: 48px;
    min-height: 48px;
    background-repeat: no-repeat;
}
.product-card-button {
    color: white;
    background-color: #756257;

}
.button-favorite {
    color: white;
    background-color: #83B3D3;

}
.button-cancel {
    color: white;
    background-color: #7DB54F;

}
div.rating { 
    background-image: url("../images/rating-background.png");
    min-width: 160px;
    min-height: 37px;
    background-repeat: no-repeat;
}
.pagination-link.pagination-current {
    color: black;
    background-color:#F2F2F2;
    min-width: 55px;
    min-height: 55px;
    list-style: none;
}
.pagination-link {
    color: white;
    background-color:#83B3D3;
    min-width: 55px;
    min-height: 55px;

}
.pagination-show-more {
    color:white;
    background-color:#83B3D3;
    min-width: 625px;
    min-height: 55px;
}
.p {
    font-family: PT Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 26px;
text-align: center;
}
