@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;
    }

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
    }

@font-face {
    font-family: "PT Sans";
    font-style: italic;
    font-weight: 400;
    src: url("../fonts/ptsans-400.woff2") format("woff2");
    }

@font-face {
    font-family: "PT Sans";
    font-style: italic;
    font-weight: 700;
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
    }

html {
        height: 100%;
}

.list-reset {
    padding: 0%;
    margin: 0%;
    list-style: none;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    clip: rect(0 0 0 0)
}

a {
    color:black;
    text-decoration: none;
}

.button {
    font-family: PT Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
    border: 0;
    outline: 0;
    border-radius: 4px;
    }


.signin-button {
    font-family: PT Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
    color: white;
    background-color: #756157;
    min-width: 160px;
    min-height: 37px;
    cursor: pointer;
}

.signin-button:hover {
    background: #615048;
}

.signin-button:focus {
    background-color:#615048;
    box-shadow:  0 0 0 3px #83B3D3;
    border-radius: 4px;
}

.signin-button:active {
    background: 615048;
    border-radius: 4px;
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
    color: rgba(255,255,255, 0.3);
}

.container {
    display: flex;
    flex-direction: column;
    width: 1200px;
    margin: 0 auto;
}

.navigation {
    display: flex;
    width: 1200px;
    height: 65px;
    margin: 0 auto;
    position: relative;
    
}

.navigation-list {
    font-family: PT Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 26px;
    display: flex;
    width: 415px;
    padding-left: 71px;
    margin-right: auto;
    list-style: none;
}

.navigation-item {
    display: flex;
    align-items: center;
    margin-right: 9px;
}

.navigation-link {
    display:flex;
    align-items: center;
    min-width: 20px;
    min-height: 20px;
    position: relative;
    padding: 10px 10px;
}

.navigation-link:hover {
    color: #756257;
}

.navigation-link:focus {
    box-shadow: inset 0 0 0 3px #82B3D3;
    color: #756257;
    border-radius: 10px;
    outline: none;
}

.navigation-link:active {
    opacity: 0.3;
}



.logo {
    display: block;
    margin: 0 auto;
    position: absolute;
    left: calc(50% - 69px);
}

.navigation-user {
    font-family: PT Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
    display: flex;
    padding-right: 72px;
    width: 300px;
    margin-left: auto;
    list-style: none;
}

.navigation-user-list {
    font-family: PT Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
    padding-right: 72px;
    display: flex;
    width: 300px;
    list-style: none;
}

.navigation-link-current::before {
    position: absolute;
    top: 50px;
    right: 10px;
    left: 10px;
    height: 2px;
    background-color: #756257;
    content: "";
}

.navigation-link-current:hover {
    color:rgba(0, 0, 0, 1);
    cursor:default;
    
}
/* .navigation-link:before {
    content: '';
    display: block;
    left: -15px;
    right: -15px;
    bottom: -15px;
} */

.navigation-user-item {
    position:relative;
    display: grid;
    place-items: center;
    margin-left: 10px;
    margin-right: 0;
}

.search {
    margin-top: 5px;
}

.navigation-user-item:nth-child(1) {
    margin-left: auto;
    margin-right: 0;
    align-items: center;
}
.navigation-user-item:nth-child(2) {
    margin-right: 23px;
}

.navigation-user-item:last-child {
    margin-left: 10px;
}

.container-favorites {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 19px;
    height: 19px;
    border-radius: 50%;
    position: absolute;
    top: 1px;
    right: 1px;
    /* margin-top: 1px; */
    background-color:  #7DB54F ;
    font-family: PT Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 13px;
    text-align: center;
    letter-spacing: -0.1em;
    color: white;
}

body {
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    line-height: 24px;
    padding: 0%;
    margin: 0%;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    }

/* .main-container {
        flex-grow: 1;
    }
 */


.advantages-background {
    background-image:url("../images/welcome.svg"), url("../images/background-advantage.jpg");
    background-repeat: no-repeat;
    background-position: 50% 51px, 100% 0;
    background-color: white;
    min-height: 767px;
    display: flex;
    flex-direction: column;
    }

.advantages-background-title {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-top: auto;
    text-align: center;
    min-height: 282px;
    margin-bottom: 79px;
}

.advantages-background-paragraph {
    font-weight: normal;
    font-size: 22px;
    line-height: 36px;
    text-align: center;
}

.advantages-container {
    display: flex;
    flex-wrap: wrap;
    padding: 0 0;

}


.advantages-content p {
    font-weight: normal;
    font-size: 22px;
    line-height: 36px;
    text-align: center;
    }

.advantages-content h2 {
    font-weight: bold;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
}

.advantages-item {
    width: 400px;
    height: 384px;
    text-align:center;
    list-style: none;
    padding: 0%;
    margin: 0%; 
}

.home {
    background-image: url("../images/home.svg");
    background-position-x: center;
    background-position-y: 80px;
    background-repeat: no-repeat;
}

.eating {
    background-image: url("../images/eating.svg");
    background-position-x: center;
    background-position-y: 80px;
    background-repeat: no-repeat;
}

.souvenir {
    background-image: url("../images/souvenir.svg");
    background-position-x: center;
    background-position-y: 80px;
    background-repeat: no-repeat;
}

.advantage-item-blue {
    background-color: #82B3D3; 
}
.advantage-item-blue-2 {
    background-color: #82B3D3; 
}

.advantages-item-town {
    display: grid;
    grid-template-columns: 400px 400px 400px;
    grid-template-rows: 384px;
}
.advantages-item-2 {
    display: grid;
    grid-template-columns: 400px 400px 400px;
    grid-template-rows: 384px;
}

.a-real-town {

    grid-column: 1 / 2;
    
}

.diablo-bridge {
    grid-column: 3 / 4;
}

.photo-1 {
    grid-column: 2 / -1;
    grid-row: 1 / 2;
}

.photo-2 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.advantages-item-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 384px;
}

.advantages-list-3-4-5 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 384px;

}


.advantage-item-light-blue {
    background-color: #E6F0F6;
}

.advantage-item-light-gray {
    background-color: #F0F6FA;
}

.advantages-item-white {
    background-color: #FFFFFF;
}

.advantage-title {
    margin-bottom: 25px;
    margin-top: 98px;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    
}

.advantage-symbol {
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.paragraph-title {
    margin-top: 26px;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;  
    text-align: center;
    color: #FFFFFF;
}

.advantage-title-font {
    margin-top: 184px;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
}


.advantage-title-font-item {
    margin-top: 98px;
    padding: auto;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
}

.advantages-paragraph-font {
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
}



.hotels-search-container {

    display: flex;
    justify-content: center;
    text-align: center;
    width: 720px;
    height: 417px;
    margin: 0 auto;
}

.hotels-search {
    background-color: #FFFFFF;
}
.search-title {
    margin-top: 91px;
}

.search-paragraph {
    font-weight: normal;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    color: #333333;
}

.button-background {
    width: 575px;
    height: 60px;
    background: #756257;
    border-radius: 10px;
    text-align: center;
}
.button-hotels-search  {
    
    font-weight: bold;
    font-size: 20px;
    line-height: 36px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.hotels-search h2 {
    font-size: 30px;
    line-height: 36px;
}

.hotels-search p {
    font-size: 22px;
    line-height: 26px;

}


.subscription-container {
    text-align: center;
    display: flex;
    width: 1200px;
    margin: 0 auto;
}

.product-search-button {
    display: grid;
    place-items: center;
    background: #756257; 
    width: 575px;
    height: 60px;
    margin-top: 73px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 20px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}
.product-search-button:hover {
    background: #615048;
    border-radius: 10px;

}

.product-search-button:focus {
    background: #615048;
    box-sizing: border-box;
    box-shadow: inset 0 0 0 3px #82B3D3;
    border-radius: 10px;
    outline: none;

}

.product-search-button:active {
    color: rgba(255, 255, 255, 0.3);
    background: #615048;
}

.newsletter-container {
    text-align: center;
    display: flex;
    min-width: 1200px;
    min-height: 224px;
    margin: 0 auto;
    margin-top: 89px;
}

.newsletter-form {
    margin-top: 26px;
    display:flex;
    justify-content: center;
}


.newsletter-title {
    text-transform: uppercase;
}

.newsletter-paragraph {
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    color: #333333;
}


.subscription {
    
    background-image: url("../images/subscription-background.jpg");
    color: white;
    width: 1200px;
    height: 411px;
}

.subscribe-article {
    margin-top: 94px;

}

.field {
    background: #F2F2F2;
    border-radius: 10px 0px 0px 10px;
    padding-left: 22px;
    width: 600px;
    height: 60px;
    border:none;
}

.field:hover {
    background: #E6E6E6;
}

.field:focus {
    box-shadow: inset  0 0 0 3px #83B3D3;
    border-radius: 10px 0px 0px 10px;
    outline: none;
}

.newsletter {
    width: 800px;
    height: 411px;
    margin: auto;
}

.newsletter-button {
    color: white;
    background-color: #83B3D3;
    width: 200px;
    /* height: 60px; */
    border-radius: 0px 10px 10px 0px;
}

.newsletter-button:hover {
    background: #68A2CA;
}

.newsletter-button:focus {
    border: 3px solid #756257;
    border-radius: 0px 10px 10px 0px;
}

.newsletter-button:active {
    color:rgba(255, 255, 255, 0.3);
    background: #68A2CA;
    border-radius: 0px 10px 10px 0px;
}

.footer-container {
    display: flex;
    min-height: 120px;
    align-items: center;
}

.footer-social-list {
    display: flex;
    justify-content: space-around;
    min-width: 150px;
    align-items: center;
    margin-right: auto;
    padding-left: 72px;
}

.button-social {
    color: #83B3D3;
    display:flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    margin-right:10px;
    position: relative;
    padding: 10px 10px;
    outline: none;
}


.button-social:hover {
    color: #68A2CA;
}

.button-social:focus {
    box-shadow:  0 0 0 3px  #68A2CA;
    border-radius: 4px;
    color:#68A2CA;
}

.button-social:active {
    opacity: 0.6;
}

.phone {
font-weight: normal;
font-size: 40px;
line-height: 40px;
text-align: center;
text-transform: uppercase;
align-items: center;
padding: 10px 10px;
} 

.phone:hover {
    color: #756257;
}

.phone:focus {
    box-shadow: inset 0 0 0 3px #82B3D3;
    border-radius: 10px;
    outline: none;
}

.phone:active {
    opacity: 0.3;

}

.copyright {
    min-width: 319px;
    min-height: 110px;
    background-repeat: no-repeat;
    display: flex;
    min-width: 114px;
    padding-right: 72px;
    margin-left: auto;
    align-items: center;
}

.button-html {
    display:flex;
    align-self: center;
    padding: 10px 10px;

}

.button-html:hover {
    color:#756257;

}

.button-html:focus {
    box-shadow: inset  0 0 0 3px #83B3D3;
    border-radius: 10px;
    outline: none;
}

/* Catalog */
.catalog-products {
    display: flex;
    flex-direction: column;
    background-image: url("../images/catalog-background.jpg");
    background-repeat: no-repeat;
    min-width: 1200px;
    min-height: 411px;
}

.inner-header-title {
    font-weight: bold;
    font-size: 60px;
    line-height: 78px;
    color: #FFFFFF;
}

.inner-header {
    margin-right: auto;
    flex-wrap: wrap;
    padding-left: 71px;;
}

.inner-header-title {
    margin: 0;
    margin-top: 35px;
}

.breadcrumps {
    display: flex;
    margin-top: 5px;
}


.breadcrumps-item {
    margin-right: 26px;
}

.breadcrumps-link-home {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    min-width: 24px;
    min-height: 24px;
    color:rgba(255, 255, 255, 1);
}

.breadcrumps-link-home:hover {
    color: #cddde9;
}

.breadcrumps-link-home:focus {
    box-shadow: inset  0 0 0 3px #83B3D3;
    border-radius: 4px;
    outline: none;
}

.breadcrumps-link-home:active {
    opacity: 0.3;
}


.breadcrumps-link {
    padding: 5px 10px;
}

.breadcrumps-link:hover {
    opacity: 0.6;
    
}

.breadcrumps-link:focus {
    box-shadow: inset  0 0 0 3px #83B3D3;
    border-radius: 4px;
    outline: none;
}

.breadcrumps-link:active {
    opacity: 0.3;
}


.breadcrumps-link-home:after {
    position:absolute;
    width: 6px;
    height: 8px;
    content: "";
    background-image: url("../images/arrow.svg");
    background-repeat: no-repeat;
    opacity: 0.3;
    margin-left: 55px;
}

.program-option-label{
    position: relative;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    color: #FFFFFF;
    padding-left: 36px;
    cursor: pointer;
}

.control-mark {
    position: absolute;
    top: 4px;
    left: 0;
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 4px;
}


.program-option-input[type="checkbox"]:checked + .control-mark::before,
.program-option-input[type="checkbox"]:checked + .control-mark::after {
    position: absolute;
    background-image: url("../images/check-mark.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: block;
    width: 12px;
    height: 10px;
    left: 5px;
    top: 5px;
    content: "";
}

.program-option-input[type="radio"] + .control-mark {
    border-radius: 50%;
}

.program-option-input[type="radio"]:checked + .control-mark::before {
    position: absolute;
    background-color: #3F5E72;
    width: 10px;
    height: 10px;
    left: 5px;
    top: 5px;
    content: "";
    border-radius: 50%;

}

.control-mark:hover {
    background: rgba(255, 255, 255, 0.6);
}

.control-mark:focus {
    box-shadow: 0 0 0 3px #83B3D3;
}

.control-mark:active {
    background: rgba(255, 255, 255, 0.3);
}

.control-label {
    font-weight: normal;
}




.catalog-filter {
    display: flex;
    margin-top: 45px;
    
}

.catalog-filter-group {
    margin:0;
    padding: 0%;
    margin-right: 67px;
    border: none;
}

.catalog-filter-option {
    display: flex;
    margin-left: 71px;
    margin-right: auto;
}

.catalog-filter-title {
    margin-bottom: 30px; 
}

.catalog-filter-item {
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    color: #FFFFFF;
    margin-bottom:  13px;
}

.catalog-filter-toggle {
    width: 287px;
}

.catalog-filter-label {
    position: relative;
}

.catalog-filter-input-min {
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    color: white;
    width: 127px;
    height: 48px;
    font: inherit;
    padding-left: 18px;
    background-color: transparent;
    border-radius: 4px;
    border:none;
    border: 2px solid #FFFFFF;
    border-radius: 4px 0px 0px 4px;
    margin-left: -1px;
}

.catalog-filter-input-max {
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    color: white;
    width: 127px;
    height: 48px;
    font: inherit;
    padding-left: 18px;
    background-color: transparent;
    border-radius: 4px;
    border:none;
    border: 2px solid #FFFFFF;
    border-radius: 0px 4px 4px 0px;
    margin-left: -1px;
}

.catalog-filter-input-min:hover,
.catalog-filter-input-max:hover {
    opacity: 0.6;
}

input:focus + .control-mark {
    box-shadow: 0px 0px 0px 3px #81B3D2;
}
.catalog-filter-input-min:focus,
.catalog-filter-input-max:focus {
    box-shadow: 0px 0px 0px 3px #81B3D2,
                inset 0px 0px 0px 3px #81B3D2;
}

.catalog-filter-input-min:active,
.catalog-filter-input-max:active {
    background: #756257;;

    
}

.catalog-filter-input-min::-webkit-inner-spin-button,
.catalog-filter-input-max::-webkit-inner-spin-button {
    appearance: none;
    margin: 0;
}

.min-price {
    position: absolute;
    top: 16px;
    right: 14px;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    text-align: right;
    color: #FFFFFF;
    opacity: 0.3;
}

.max-price {
    position: absolute;
    top: 16px;
    right: 14px;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    text-align: right;
    color: #FFFFFF;
    opacity: 0.3;
}


.catalog-filter-input:hover {
    opacity: 0.6;
}

.catalog-filter-input:focus {
    box-shadow: 0 0 0 3px #83B3D3, inset 0 0 0 3px #83B3D3;
    border-radius: 4px;
    outline: none;
}

.catalog-filter-input:active {
    background: #756257;
}


.range-wrapper-inputs {
    display:flex;
    justify-content: center;
}

.range-scale {
    margin-top: 32px;
    position: relative;
    margin-left: auto;
    width: 287px;
    height: 4px;
    margin-bottom:16px;
    background-color: rgba(255, 255, 255, 0.3);
}

.range-bar {
    position: absolute;
    background-color: #ffffff;
    outline: none;
}

.range-toggle {
    position: absolute;
    width: 20px;
    height: 20px;
    background: #ffffff;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    border:none;
}

.range-toggle:hover {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.range-toggle:focus {
    border: 3px solid #83B3D3;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    outline: none;
}

.range-toggle:active {
    border: 2px solid #83B3D3;
    box-shadow: 0px 7px 15px rgba(0, 0, 0, 0.4);
    border-radius: 5px;
}

.toggle-min {
    top: -8px;
    left: -10px;
}

.toggle-max {
    top: -8px;
    right: -10px;
}


.buttons {
    display: flex;
    flex-direction: column;
    margin-right: 72px;
    margin-left: 81px;
}



section h2 {
    font-weight: bold;
    font-size: 30px;
    line-height: 39px;
}



a.breadcrumps-link {
    color:white;
font-weight: normal;
font-size: 16px;
line-height: 21px;
}

.catalog-filter-title {
    color:white;
font-weight: bold;
font-size: 20px;
line-height: 26px;
}

.buttons {
    display:flex;
    align-items: center;
}

.button-accept { 
    color:white;
    background-color:#83B3D3;
    width: 168px;
    height: 48px;
    cursor: pointer;
}

.button-accept:hover {
    background: #68A2CA;
}

.button-accept:focus {
    box-shadow: inset  0 0 0 3px white;
    border-radius: 4px;
    outline: none;
}

.button-accept:active {
    background: #68A2CA;
    color: rgba(255,255,255, 0.3);
}

.button-reset {
    background-color: transparent;
    width: 100px;
    height: 32px;
    margin-top:20px;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    text-align: center;
    text-transform: initial;
    color: #FFFFFF;
    cursor: pointer;
}

.button-reset:hover {
    opacity: 0.6;
}

.button-reset:focus {
    box-shadow: inset  0 0 0 3px #83B3D3;
    border-radius: 4px;
    outline: none;
}

.button-reset:active {
    opacity: 0.3;
}

.sorting-container {
    display: flex;
    justify-content: space-between;
    height: 48px;
    margin-top: 44px;
    margin-bottom: 73px;
    margin-right: 72px;
    margin-left: 71px;
    align-items: center;

}

.sorting-type {
    margin-left: auto;
}

.select-control {
    width: 287px;
    height: 48px;
    border: 2px solid #E6E6E6;
    border-radius: 4px;
    appearance: none;
    padding-left: 20px;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    background: url("../images/caret.svg");
    background-repeat: no-repeat;
    background-position: right 16px center;
}

.select-control:hover {
    border: 2px solid #83B3D3;
    border-radius: 4px;
    outline: none;
}

.select-control:focus {
    border: 2px solid #83B3D3;
    border-radius: 4px;
    outline: none;
}

.select-control:active {
    border: 2px solid #E6E6E6;
    border-radius: 4px;
    outline: none;
    color: rgba(229, 229, 229, 1);
}


.sorting-items {
    margin-left: 81px;
}


.masonry {
    background-image:url("../images/masonry.svg");
    min-width: 48px;
    min-height: 48px;
    background-repeat: no-repeat;
    margin-left: 8px;
    
}

.card {
    background-image: url("../images/card.svg");
    min-width: 48px;
    min-height: 48px;
    background-repeat: no-repeat;
    margin-left: 8px;
}

.card-list {
    background-image:url("../images/card-list.svg");
    min-width: 48px;
    min-height: 48px;
    background-repeat: no-repeat;
    margin-left: 8px;
}

.card-list:hover,
.card-list:focus {
    box-shadow: inset  0 0 0 2px #83B3D3;
    border-radius: 4px;
    outline: none;

}

.product-card {
    display: flex;
    justify-content: center;
    margin: auto;
    margin-bottom: 61px;
    width: 1056px;
    height: 123px

}

.product-container {
    margin-left: 37px;
    display: grid;
    grid-template-columns: 159px 159px;
    grid-template-rows: 35px 47px 41px;
    column-gap: 8px;
}

.product-card-link-photo {
    width: 180px;
    height: 120px;
}

.product-card-image {
    max-width: 100%;
    height:auto;
}

.product-card-link {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
}

.product-card-link-photo:hover {
    opacity: 0.6;
}

.product-card-link-photo:focus {
    box-shadow:  0 0 0 3px #83B3D3;
    border-radius: 4px;
    outline: none;
}



.product-card-link:focus {
    box-shadow: inset  0 0 0 3px #83B3D3;
    border-radius: 4px;
    outline: none;
}

.product-card-title {
    margin:0;
    font-weight: bold;
    font-size: 24px;
    line-height: 31px;

}

.product-card-price {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
}


.product-card-button {
    display: grid;
    place-items: center;
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    background: #756257; 
    color: #fff; 
    width: 151px;
    height: 37px;
    border-radius: 4px; 
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
}

.product-card-button:hover {
    background: #615048;
}

.product-card-button:focus {
    background: #615048;
    box-shadow: inset  0 0 0 3px #83B3D3;
    border-radius: 4px;
    outline: none;
}

.product-card-button:focus {
    color:rgba(255, 255, 255, 0.3);
}

.button-favorite {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    color: white;
    background-color: #83B3D3;
    width: 160px;
    height: 37px
}

.button-favorite:hover {
    background: #68A2CA;
    box-shadow: inset  0 0 0 1px #756257;
    border-radius: 4px;
    outline: none;
}

.button-favorite:focus {
    box-shadow: inset  0 0 0 3px #756257;
    border-radius: 4px;
    outline: none;
}

.button-favorite:active {
    color:rgba(255, 255, 255, 0.3);
    box-shadow: inset  0 0 0 1px #756257;
    border-radius: 4px;
    outline: none;
}

.button-cancel:hover {
    background: #6C9E42;;

}

.button-cancel:focus {
    box-shadow: inset  0 0 0 3px #756257;
    border-radius: 4px;
    outline: none;
}

.button-cancel:active {
    color:rgba(255, 255, 255, 0.3);
}

.rating {
    display: grid;
    margin-left: auto;
    grid-template-columns: 34px 92px 34px;
    grid-template-rows: 17px 63px 37px;
}

.product-card-four-stars {
    grid-column: 2 / 3;
}
.product-card-three-stars {
    margin:auto;
    grid-column: 2 / 3;
}

.product-card-two-stars {
    margin: auto;
    grid-column: 2 / 3;
}
.rating-stars {
    display:flex;
    width:160px;
    height: 38px;
    background: #F2F2F2;
    border-radius: 4px;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    margin-top: 5px;
    grid-column: 1 / 4;
    grid-row: 3 / 4;
}

.rating-number {
    font-weight: 400;
    margin-left: 5px;


}
.button-cancel {
    color: white;
    background-color: #7DB54F;
    width: 160px;
    height: 37px
}


.pagination-container {
    display: grid;
    margin-top: 31px;
    grid-template-columns: 1fr 1fr;
}

.pagination-list {
    display: grid;
    margin: 0;
}

.pagination-hotels {
    display: grid;
    grid-template-columns: 175px 160px;
    column-gap: 51px;
    margin-left: auto;
    margin-right: 72px;
    align-items: center;
}

.select-hotels {
    width: 160px;
    height: 48px;
    border-radius: 4px;
    appearance: none;
    background-image: url("../images/caret.svg");
    background-repeat: no-repeat;
    background-position: right 16px center;
    border: 2px solid #E6E6E6;
    padding-left: 17px;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    color: #333333;
}

.select-hotels:hover {
    border: 2px solid #83B3D3;
    border-radius: 4px;
    outline: none;
}

.select-hotels:focus {
    border: 2px solid #83B3D3;
    border-radius: 4px;
    outline: none;
}

.select-hotels:active {
    border: 2px solid #E6E6E6;
    border-radius: 4px;
    outline: none;
    color: rgba(229, 229, 229, 1);
}

.pagination {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 8px;
    width: 55px;
    height: 55px;
    margin-left: 72px;
}

.pagination-item {
    display: grid;
    width: 55px;
    height: 55px;
    background: #83B3D3;
    border-radius: 4px;
    position: relative;
    text-align: center;
}

.pagination-current {
    background: #F2F2F2;
    border-radius: 4px;
}

.pagination-number {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.pagination-link.pagination-current {
    color: black;
    background-color:#F2F2F2;
    font-weight: bold;
    min-width: 55px;
    min-height: 55px;
    list-style: none;
    cursor: pointer;
}

.pagination-link {
    color: white;
    background-color:#83B3D3;
    border-radius: 4px;
    width: 100%;
    height: 100%;
}

.pagination-link:hover:not(.pagination-current) {
    background-color: #68A2CA;
}

.pagination-link:focus:not(.pagination-current)  {
    box-shadow: inset  0 0 0 3px #756257;
    border-radius: 4px;
    outline: none;
}
.pagination-link:active:not(.pagination-current)  {
    color:rgba(255, 255, 255, 0.3);
}


.pagination-show-more {
    display:flex;
    color:white;
    background-color:#83B3D3;
    min-width: 625px;
    min-height: 55px;  
    margin: auto;
    align-items: center;
}


.pagination-show-more:hover {
    background-color: #68A2CA;
}

.pagination-show-more:focus {
    background-color: #83B3D3;
    border: 3px solid #756257;
    border-radius: 4px;
}

.pagination-show-more:active {
    color:rgba(255, 255, 255, 0.3);
    background: #68A2CA;
    border-radius: 4px;
}
.show-more {
    margin: auto;
}

.catalog-uppercase {
    text-transform: uppercase;   
}
.uppercase {
    margin-top: 548px;
    text-transform: uppercase;
}

.popover {
    position: absolute;
    top: 47px;
    z-index: 1;
    box-sizing: border-box;
    width: 400px;
    min-height: 232px;;
    font-family: "PT Sans", sans-serif;
    color: #000000;
    background-color:#ffffff;
    border-radius: 20px;
    display:none;
}

.popover:before {
    position: absolute;
    bottom: 225px;
    left: 50%;
    width: 18px;
    height: 18px;
    margin-left: -9px;
    background-color: #ffffff;
    content: "";
    transform: rotate(45deg);
}

.popover-open {
    display:block;
}

.popover-close-button {
    position: absolute;
    top: 0
}

.popover-content {
    height: 100%;
}

.cart-items-list {
    margin: 0;
    margin: 25px 25px 25px 25px;
    padding: 0;
}

.cart-item {
    display: grid;
    grid-template-columns: min-content 328px 16px;
    grid-template-rows:  25px 25px;
}


.cart-item + .cart-item {
    margin-top: 25px;
}

.product-cart-link {
    display: grid;
    grid-template-columns: 48px max-content;
    grid-template-rows: 25px 25px;
    grid-column: 1 / 3;
    grid-row: 1 / 3;
    justify-self: start;
    padding-right: auto;
    
}

.product-cart-link:hover {
    opacity: 0.6;
}

.product-cart-link:focus {
    box-shadow:  0 0 0 3px #83B3D3;

    border-radius: 4px;
    outline: none;
}

.product-cart-link:focus {
    opacity: 0.3;
}

.product-cart-title {
    margin: 0;
    display: flex;
    align-items: center;
    margin-left: 17px;
    padding: 0;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    font-size: 18px;
    line-height: 40px;
    text-transform: capitalize;

}


.cart-item-button {
    grid-row: 1 / 2;
    margin: 0;
    padding: 0;
    width: 30px;
    height: 30px;
    cursor: pointer;
    background-color: transparent;
    opacity: 0.2;
    display:flex;
    align-items: center;
    justify-content: center;
}

.cart-item-button:hover {
    opacity: 1;
}


.cart-item-button:focus {
    opacity: 1;
    box-shadow:  0 0 0 3px #83B3D3;
    border-radius: 4px;
    outline: none;

}

.cart-item-button:active {
    opacity: 0.1;

}

.product-cart-paragraph {
    margin: 0;
    display: flex;
    align-items: center;
    margin-left: 17px;
    padding: 0;
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    font-weight: normal;
    font-size: 16px;
    line-height: 40px;
    text-transform: capitalize;

}


.button-cart-favorite {
    display: grid;
    place-items: center;
    background: #756257; 
    width: 400px;
    height: 60px;
    border-radius: 0px 0px 20px 20px;
    font-weight: bold;
    font-size: 20px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.button-cart-favorite:hover {
    background: #615048;
}

.button-cart-favorite:focus {
    box-shadow: 0 0 0 3px #83B3D3;
}

.button-cart-favorite:active {
    background: #615048;
}




 /* modal-container */

.modal-container {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 100%;
    background-color: rgba(242, 242, 242, 0.8);
    /* display:none; */
}


/* .modal {
    position: relative;
    margin: auto;
    padding: 54px 70px 70px 70px;
    background-color: #FFFFFF;
    border-radius: 30px;
} */

.modal-content {
    position: relative;
    margin: auto;
    padding: 54px 70px 70px 70px;
    background-color: #FFFFFF;
    border-radius: 30px;

}


.modal-close-button {
    position: absolute;
    padding: 0%;
    top: 20px;
    right: 20px;
    width: 53px;
    height: 53px;
    border: none;
    background-image: url("../images/cross.svg");
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    cursor: pointer;
    outline: none;
}

.modal-close-button:hover {
    background-color: #E6E6E6;

}

.modal-close-button:focus {
    box-shadow: 0 0 0 3px #83B3D3;

}

.modal-close-button:active {
    background-color: #E6E6E6;
    opacity: 0.3;

}

.modal-title {
    margin: 0;
    font-family: "PT Sans", sans-serif;
    font-weight: bold;
    font-size: 30px;
    line-height: 40px;
    text-transform: uppercase;
    color: #000000;
    margin-bottom: 32px; 
}

.auth-form {
    width: 575px;
}

.field-group {
    width: 100%;
    display:flex;
    justify-content: space-between;
    font-weight: bold;
    font-size: 18px;
    line-height: 40px;
    cursor: pointer;
    margin-bottom: 40px;
}

.input {
    position: relative;

    width: 420px;
}


.date-form-field {
    font-weight: bold;
    font-size: 18px;
    line-height: 40px;
    background: #F2F2F2;
    border-radius: 4px;
    padding-left: 22px;
    width: 420px;
    height: 50px;
    border: none;
    box-sizing: border-box;
    outline:none;
}

.date-form-field::placeholder {
    color:#000000;
}

.date-form-field:hover {
    background-color: #E6E6E6;
}

.date-form-field:focus {
    box-shadow: 0 0 0 3px #83B3D3;
}

.date-form-field:focus::placeholder {
    font-size: 0;
}


.date-form-field:focus:not(:placeholder-shown) {
    box-shadow: 0 0 0 3px #000000;

}

.calendar {
    border: none;
    cursor: pointer;
    background-color: transparent;
}


.calendar {
    position: absolute;
    top: 18px;
    left: 386px;
}

.people {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 40px;
}

.people-title {
    font-weight: bold;
    font-size: 18px;
    line-height: 40px;
}

.adults-label {
    margin-right: 73px;
}

.children-label {
    margin-right: 12px;
    
}

.adults-children-input {
    width: 60px;
    height: 50px;
    border: none;
    outline: none;
    background-color: #f2f2f2;
    box-sizing: border-box;
    text-align: center;
}

.adults {
    width: 288px;
    display:flex;
    align-items: center;
}

.children {
    width: 230px;
    display:flex;
    align-items: center;
}

.info {
    position: relative;
    padding: 0;
    margin-right: 17px;
    border:none;
    background-color: transparent;
    color: #83B3D3;
}
.info:hover {
    color: #68A2CA;
}

.dropdown-info {
    display:none;
    position: absolute;
    top: 357px;
    left: 355px;
    background-color: #333333;
    border-radius:  4px;
    width: 256px;
}

.dropdown-info:before {
    position: absolute;
    bottom: 225px;
    left: 50%;
    top: -8px;
    width: 18px;
    height: 18px;
    margin-left: -9px;
    background-color: #333333;
    content: "";
    transform: rotate(45deg);
}

.dropdown-info p {
    padding: 15px 18px 18px 22px;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #ffffff;
}

.info-button:hover .dropdown-info {
    display: block;
}

.modal-button {
    width: 133px;
    height: 50px;
    background-color: #f2f2f2;
    display: flex;
    border-radius: 4px;
    margin: 0;
    padding: 0;
}

.minus {
    width: 30px;
    height: 30px;
    padding: 0;
    padding: 10px;
    align-self: center;
    border: 0;
    border-radius: 4px 4px 4px 4px;
    cursor: pointer;
    margin-left: 10px;
    opacity: 0.3;
    outline: none;
}

.minus-svg {
    display:flex;
    justify-content: center;
}

.minus:hover {
    opacity: 1;
}

.minus:focus {
    opacity: 1;
    box-shadow: inset 0 0 0 3px #83B3D3;
}

.minus:active {
    opacity: 0.2;
}

.plus {
    width: 32px;
    height: 32px;
    padding: 0;
    align-self: center;
    border: 0;
    border-radius: 4px 4px 4px 4px;
    cursor: pointer;
    opacity: 0.3;
    outline: none;
}

.plus:hover {
    opacity: 1;

}

.plus:focus {
    opacity: 1;
    box-shadow: inset 0 0 0 3px #83B3D3;
}

.plus:active {
    opacity: 0.2
}

.button-search-hotels {
    width: 575px;
    height: 60px;
    background: #83B3D3;
    border: none;
    border-radius: 10px;
    text-align: center;
    font-family: "PT Sans";
    font-weight: bold;
    font-size: 20px;
    line-height: 40px;
    text-transform: uppercase;
    color: #ffffff;
}

.button-search-hotels:hover {
    background: #68A2CA;

}

.button-search-hotels:focus {
    box-shadow:  0 0 0 3px  #756257;

}

.button-search-hotels:active {
    background: #68A2CA;
    color: rgba(255,255,255, 0.3);

}







